# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
dist/
build/
# VSCode / JetBrains (WebStorm, etc)
.vscode/
.idea/
# Playwright
test-results/
.playwright/
# Sistema
.DS_Store
.env